#proyecto-1 {
    background-image: url(Images\Boynextdoor.png);
}

#proyecto-1 {
    background-image: url(Images\Logo_g.png) ;
}

#proyecto-1 {
    background-image: url(Images\Curriculum.png);
}
